server {
        listen 80 default_server;
        listen [::]:80 default_server;
        server_name {{ server_name_uri }};
        return 301 https://$host$request_uri;
}


server {
        listen  443 ssl http2;
        listen [::]:443 ssl default_server;
        server_name   {{ server_name_uri }};
        location / {
                    proxy_pass http://{{ proxy_pass_uri }} ;
        }

        ssl on;
        ssl_certificate     /etc/ssl/certs/{{ ssl_certificate }};
        ssl_certificate_key /etc/ssl/private/{{ ssl_certificate_key }};
}
