server {
        listen 80 default_server;
        listen [::]:80 default_server;
        server_name georgi-app.upnetix.tech;
        return 301 https://$host$request_uri;
}


server {
        listen  443 ssl http2;
        listen [::]:443 ssl default_server;
        server_name     georgi-app.upnetix.tech;
        location / {
                    proxy_pass http://localhost:8080;
        }

        ssl on;
        ssl_certificate     /etc/ssl/certs/star.upnetix.tech.crt;
        ssl_certificate_key /etc/ssl/private/star.upnetix.tech.key;
}
